body {
  padding-top: 56px;
    text-align: justify;
}

html {
  scroll-behavior: smooth;
}

/*spalvos*/
:root {
  --primary: #5580E9;
  --secondary: #84CEEB;
  --light:#5AB8EB;
  --light-grey:#C1C8E4;
  --white:white;
}

/*Animacija*/
@-webkit-keyframes arrowanimationdown {
  100% {
    -webkit-transform: translateY(0.6em);
  }
  30% {
    -webkit-transform: translateY(0em);
  }
}

.bi-arrow-down {
  margin: 20px;
  -webkit-animation: arrowanimationdown 1.2s infinite alternate ease-in-out;
          animation: arrowanimationdown 1.2s infinite alternate ease-in-out;
}

.back-to-top {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.back-to-top a .fas {
  font-size: 1.5rem;
}

/*Paieska*/
.search-bar {
  margin: 1rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-bar .dropdown {
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
}
/*
#books {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 100px;
}

#books .book-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
  padding: 30px 20px;
}

#books .book-card .details {
  line-height: 17px;
}

#books .book-card .details a {
  text-decoration: none;
  color: var(--light);
}

#books .book-card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 250px;
  padding: 1rem;
} */


.button {
  border: 2px solid black;
  height: 40px;
  margin-top: 10px;
  display: flex;
  font-weight: bold;
}

.book-list{
  display:flex;
  flex-wrap: wrap;
}

.category {
  height: 8vh;
}

.details {
  height: auto;
  width: 60%;
  margin-left: calc((100% - 60%)/2);
}

h2 {
  font-size: 30px;
  margin-top: 5px;
  min-height: 15vh;
  padding-top: 20px;
}

.list-group-item{
   width:45%;
   margin:15px;
}

li img{
   width:220px;
   height:300px;
}

.book-card img{
  /* margin: 0 auto; */
  width:auto;
  height:20vw;
  -webkit-box-shadow: 9px 3px 19px -8px rgba(0,0,0,0.47);
  -moz-box-shadow: 9px 3px 19px -8px rgba(0,0,0,0.47);
  box-shadow: 9px 3px 19px -8px rgba(0,0,0,0.47);
}

.book-card {
  margin: 0 auto;
  line-height: 20px;
  display: block;
  margin: 0 0 40px 0;
  width: 100%;
  height: auto;
  text-align: center;
}

#books{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  flex-wrap:wrap;
  margin-top: 20px;
  border-top: 1px solid silver;
  padding-top: 20px;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.press, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 8px 20px;
  font-style: italic;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

@media only screen and (max-width: 1050px) {
  #books {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 520px) {
  #books {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .book-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */
